# H1:Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. python
2. SQL
3. R
4. Git

# Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow
6. Keras
7. Seaborn
8. Scipy
9. Plotly
10. Statsmodels

|Data Science Tools|
|------------------|
|Pyton|
|SQL|
|R|

### H3: Below are a few examples of evaluating arithmetic expressions in Python
1 + 2 = 3 <br>
5 * 4 = 20 <br>
12 / 3 = 4

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

**Objectives:**
- Python
- R
- Git
- SQL

## Author
# Jack